.about{
    h3{
        margin-top: 0;
        margin-bottom: 0.5em;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        font-size: 22px;
    }
    .about-technology{
        text-indent: 1em;
        color: rgba(0, 0, 0, 0.85);
        font-size: 18px;
    }
}